<!doctype html>
<html lang="en" ng-app='app' ng-cloak ng-view ng-controller='MainCtrl'>

<head>
  <meta charset="utf-8">
  <meta name='viewport' content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0' user-scalable='no'>

  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  <link href="style.css" media="screen" rel='stylesheet'>
</head>

<body>
  <md-grid-list md-cols="3" md-row-height="fit" style="height: 400px;">
    <md-grid-tile ng-repeat='i in [1,2,3,4,5,6,7,8,9]'>
       <md-button class='box md-raised' ng-click='boxClick($event)' name='{{$index}}' ng-model='box[index]' aria-label='button' flex>{{box[$index]}}</md-button>
    </md-grid-tile>
  </md-grid-list>
  <md-button class='md-raised' id='reset' ng-click='reset()'>Reset</md-button>
  <p ng-show='thisPersonWon'>{{thisPersonWon}} won</p>
  <div id='links'>
    codepen project <a href='http://codepen.io/cblupodev/pen/waYdqo' target='_blank'> [buildatictactoegame - codepen.io]</a> freecodeamp assignment <a href='https://www.freecodecamp.com/challenges/build-a-tic-tac-toe-game' target='_blank'> [Build a Tic Tac Toe Game - freecodeamp.com]</a>
  </div>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
  <script src='state-machine.js'></script>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src='srcipt.js'></script>
</body>