body,
html,
md-content {
    height: 100% !important;
    width: 100% !important;
    font-size:100%;
}

md-radio-group {
    margin-top: 3%;
}

.box {
    margin:0;
    border-radius: 0;
}

.box, md-grid-list {
    height:100%;
}

.box0, .box1, .box2 {
    border-bottom: thin solid black;
}

.box3, .box4, .box5 {
    border-bottom: thin solid black;
}

.box0, .box3, .box6 {
    border-right: thin solid black;
}

.box2, .box5, .box8 {
    border-left: thin solid black;
}

.box, md-radio-group, p > span {
    font-family: Handlee !important;
    font-size: 3rem;
}

#reset, md-grid-list {
    margin-top: 2%;
    margin-bottom: 5%;
}

#links {
    font-size: .7rem;
}

#result {
    text-align: center;
    font-size: 2rem;
}

.green{
    color:green;
}

.red {
    color:red;
}

/*↓ from http://stackoverflow.com/questions/22424877/how-can-i-fade-in-and-out-the-visibility-of-a-div-using-ng-show-with-angularjs-1*/
.fade.ng-hide {
  opacity: 0;
}

.fade.ng-hide-remove,
.fade.ng-hide-add {
  /*display: inline !important;*/
}

.fade.ng-hide-remove {
  transition: all linear 1000ms;
}

.fade.ng-hide-add {
  transition: all linear 500ms;
}