span {
    font-size: 3em;
}

table button {
    width: 150px;
    height: 150px;
    font-size: 3em;
}

button {
    width: 150px;
    height: 50px;
}

@media (min-width:768px) {
    table {
        margin: 0 30vw 0 30vw;
    }
    #reset {
        margin: 100px 0 0 30vw;
    }
}